#content {
    display: block;
    flex: 1;
    flex-basis: auto;
    overflow: auto;
    box-sizing: border-box;
    min-width: 1900px;
    padding-left: 276px;
    padding-bottom: 15px;
    padding-top: 76px;
    padding-right: 15px;
}

.content {
    padding: 0;
    margin: 15px 0;
}
